%footer
  .row
    .columns.large-6
      %nav
        %a{href: "/terms-of-service"} Terms of Service
        %a{href: "/privacy-policy"} Privacy Policy
    .columns.large-6
      %p.copyright.right
        Copyright © 2013, TicketZen Inc.
        %br>/
        Crafted with care by
        %a{href: "http://www.terriblelabs.com"} Terrible Labs