%header
  %a#logo{href: "/"}<
    =image_tag "frog.png", :alt => "TicketZen frog"
  %nav.top-bar{:data => {'topbar' => true}}
    %ul.title-area
      %li.name
        %h1
          %a{href: "/"}<
            TicketZen
      %li.toggle-topbar.menu-icon
        %a{href: "#"} 
          %span Menu
    %section.top-bar-section
      / Right Nav Section
      %ul.right
        %li
          %a{href: "/cities"} For Cities
        %li
          %a{href: "/blog"} Blog
        %li
          %a{href: "/about-us"} About Us
        %li
          %a{href: "/help"} Help
        %li
          %a{href: "/contact"} Contact
        %li
          %a{href: "#"} <span class="fontawesome-facebook"></span>
        %li
          %a{href: "#"} <span class="fontawesome-twitter"></span>