.page-title
  .row
    .columns.large-12
      %h1 Blog
      %p
        The latest in parking and ticketing innovation

%article
  .row
    .columns.large-12
      %h2<
        %a{:href => "/article"} 5 Bold Parking Technology Predictions for 2014

  .row
    .columns.large-8
      <img src="http://placehold.it/800x400&text=IMG" alt="article photo">
      %p.byline
        %span.author< Cort Johnson
        %time 19 December 2013
      %summary
        %p
          Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    %aside.link-panel.columns.large-4
      %dl 

        %dt <span class="fontawesome-link"></span>
        %dd
          %a{:href => "#"} Permalink

        %dt <span class="fontawesome-twitter"></span>
        %dd
          %a{:href => "#"} Tweet this

        %dt <span class="fontawesome-linkedin"></span>
        %dd
          %a{:href => "#"} Post to LinkedIn

%article
  .row
    .columns.large-12
      %h2<
        %a{:href => "#"} Donec id elit non mi porta gravida at eget metus.

  .row
    .columns.large-8
      <img src="http://placehold.it/800x400&text=IMG" alt="article photo">
      %p.byline
        %span.author< Cort Johnson
        %time 19 December 2013
      %summary
        %p
          Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    %aside.link-panel.columns.large-4
      %dl 

        %dt <span class="fontawesome-link"></span>
        %dd
          %a{:href => "#"} Permalink

        %dt <span class="fontawesome-twitter"></span>
        %dd
          %a{:href => "#"} Tweet this

        %dt <span class="fontawesome-linkedin"></span>
        %dd
          %a{:href => "#"} Post to LinkedIn