.cities-page
  .page-title
    .row
      .columns.large-12
        =image_tag "city-hall.svg", :alt => "City Hall", :id => "ico-city-hall"
        %h1 For Cities
        %p
          Give your citizens the easiest solution to pay parking tickets, with their phone.

  .row.faq-set.roadmap
    .columns.small-2.large-4
      =image_tag "map.svg", :alt => "alttext", :class => "ico right"
    .columns.small-10.large-8
      %h2 Availability
      %dl
        %dt When will TicketZen be available for my City?
        %dd In 2014, TicketZen is launching in over 100 cities across North America, Europe, and Australia. To see if your city is in the launch roadmap, please send us a note to: hi@ticketzen.com.

  .row.faq-set.pricing
    .columns.small-10.large-8
      %h2 Pricing
      %dl
        %dt What are the requirements to bring TicketZen to my City?
        %dd
          %ol.indent
            %li There is a $1 charge per parking ticket paid with TicketZen.
            %li Cities are required to print the TicketZen payment option on the front of the parking ticket.
    .columns.small-2.large-4
      =image_tag "dollah.svg", :alt => "alttext", :class => "ico left"

  .row.faq-set.implement
    .columns.small-2.large-4
      =image_tag "hand-phone.svg", :alt => "alttext", :class => "ico right"
    .columns.small-10.large-8
      %h2 Implementation
      %dl
        %dt Will you require technical resources from my City to implement TicketZen?
        %dd TicketZen does not require any technical assistance or resources from cities.

        %dt How does TicketZen integrate with my current Parking Management Solution?
        %dd TicketZen’s technical team integrates its patented mobile solution seamlessly with a City’s existing pay-by-web platform.

        %dt My City does not have real-time ticketing. Will TicketZen still work in my City?
        %dd Yes. TicketZen has a patented mobile technology solution that works with both real-time ticketing and batch processing.

  %section.contact
    .row
      .columns.large-8.large-centered.large-offset-4
        %h2 Send us a note
        %p Get in touch to learn if your city will be part of the first 100 cities launching in 2014.
        %form
          .row.collapse
            .columns.small-12
              %textarea{:placeholder => "Type your message"}

          #contact-fields.hide
            .row.collapse
              .columns.small-2
                %span.radius.prefix <span class="fontawesome-phone"></span>
              .columns.small-10
                %input{:type => "text", :placeholder => "555-555-5555"}

            .row.collapse
              .columns.small-2
                %span.radius.prefix <span class="fontawesome-envelope"></span>
              .columns.small-10
                %input{:type => "email", :placeholder => "your.name@email.com"}

          .row.collapse
            .columns.small-6
            %p
              %a.button.large-4{:href => "#"} Send

  %section.press
    .row
      .columns.large-12
        %h2 Press
    .row
      .columns.large-4
        <img src="http://placehold.it/120x80&text=logo" class="logo">
        %blockquote
          %p "Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor."
          %cite Source of the quote
      .columns.large-4
        <img src="http://placehold.it/120x80&text=logo" class="logo">
        %blockquote
          %p "Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor."
          %cite Source of the quote
      .columns.large-4
        <img src="http://placehold.it/120x80&text=logo" class="logo">
        %blockquote
          %p "Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor."
          %cite Source of the quote