.page-title.hero
  .row
    .columns.large-12
      -# %h1 The easiest way to pay your parking ticket.
      %h1 Mobile parking ticket collections for your City.
      %h2 Try it for yourself:
      
  .row.try-it
    .columns.large-4.step#step1
      %h3 1
      %p
        Install TicketZen on your phone:<br>
        %em (it's totally free)
      %p<
        %a{:href => "#"}
          =image_tag "btn-app-store@2x.png", :alt => "Download on the App Store"
        <br>
        %a{:href => "#"}
          =image_tag "btn-google-play@2x.png", :alt => "Get it on Google Play"

    .columns.large-4.step#step2
      %h3 2
      %p Use TicketZen to<br>scan the barcode below:
      =image_tag "fake-ticket.png", :alt => "Parking Ticket"

    .columns.large-4.step#step3
      %h3 3
      %p Behold the magic!
      =image_tag "iphone-step3.png", :alt => "iPhone"

%section.available-cities

  .row
    .columns.large-12
      %h2 Available in these cities
  .row
    .columns.large-3
      %table
        %tr
          %th CO
          %td Boulder<br>Denver
        %tr
          %th CT
          %td Hartford
    .columns.large-3
      %table
        %tr
          %th CO
          %td Boulder<br>Denver
        %tr
          %th CT
          %td Hartford
    .columns.large-3
      %table
        %tr
          %th MA
          %td 
            Boston<br>
            Cambridge<br>
            Salem
        %tr
          %th CT
          %td Hartford
    .columns.large-3
      %table
        %tr
          %th CO
          %td Boulder<br>Denver
        %tr
          %th CT
          %td Hartford

%section.testimonials
  .row
    .columns.large-12
      %h2 Bringing joy to many
  .row
    .columns.large-3
      %blockquote 
        "Better than a Jello Pudding Pop"
        %cite
          %a{:href => "http://twitter.com/billcosby"} @billcosbyhimself
      %blockquote 
        "Nullam id dolor id nibh ultricies vehicula ut id elit."
        %cite
          %a{:href => "http://twitter.com/billcosby"} @billcosbyhimself
    .columns.large-3
      %blockquote 
        "Better than a Jello Pudding Pop"
        %cite
          %a{:href => "http://twitter.com/billcosby"} @billcosbyhimself
      %blockquote 
        "Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."
        %cite
          %a{:href => "http://twitter.com/billcosby"} @billcosbyhimself
    .columns.large-3
      %blockquote 
        "Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."
        %cite
          %a{:href => "http://twitter.com/billcosby"} @billcosbyhimself
      %blockquote 
        "Donec ullamcorper nulla non metus auctor fringilla."
        %cite
          %a{:href => "http://twitter.com/billcosby"} @billcosbyhimself
    .columns.large-3
      %blockquote 
        "Integer posuere erat a ante."
        %cite
          %a{:href => "http://twitter.com/billcosby"} @billcosbyhimself
      %blockquote 
        "Nullam quis risus eget urna mollis ornare vel eu leo."
        %cite
          %a{:href => "http://twitter.com/billcosby"} @billcosbyhimself

%section.for-cities
  .intro
    .row
      .columns.large-12
        %h2
          =image_tag "city-hall2.svg", :alt => "City icon"
          <br>
          For Cities
  .row
    .columns.large-12
      %h2 Want to bring TicketZen to your city?
  .row
    .columns.large-8.large-centered
      :markdown
        TicketZen’s mobile parking ticket collections solution improves **time to collection and collection rates** for cities. The patented mobile parking ticket payment technology allows citizens to **instantly pay for parking tickets** using their iPhone and Android devices. 

      %p
        %a.button.secondary.large-4{:href => "/cities"} Learn more

  .row
    .columns.large-8.large-centered.send-note
      %h4 Send us a note
      :markdown
        Get in touch to learn if your city will be part of **the first 100 cities** launching in 2014:
      %form
        .row.collapse
          .columns.small-12
            %textarea{:placeholder => "Type your message"}

        #contact-fields.hide
          .row.collapse
            .columns.small-2
              %span.radius.prefix <span class="fontawesome-phone"></span>
            .columns.small-10
              %input{:type => "text", :placeholder => "555-555-5555"}

          .row.collapse
            .columns.small-2
              %span.radius.prefix <span class="fontawesome-envelope"></span>
            .columns.small-10
              %input{:type => "email", :placeholder => "your.name@email.com"}

        .row.collapse
          .columns.small-6
          %p
            %a.button.large-4{:href => "#"} Send