// Colors
$bg1: #f1f1f1; //background
$light-blue: #03C4E2;
$tealish: #007F9A;
$bright-green: #079948;
$dark-green: #0A613E;
$dark-blue: #004454;

// Foundation setttings
$body-font-family: proxima-nova, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$header-font-family: cronos-pro, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$header-font-weight: 300;
$table-bg: transparent;
$table-even-row-bg: transparent;
$topbar-title-weight: normal;
$topbar-title-font-size: 24px;
$topbar-link-weight: normal;
$primary-color: $bright-green;
$shiny-edge-size: 0 0 0 !default;
$global-radius: 5px;
$button-function-factor: 4%;
$button-border-width: 0;

@import "foundation";
@import "foundation/components/buttons";
@import "foundation/components/dropdown";
@import "foundation/components/dropdown-buttons";
@import "foundation/components/forms";

@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}