@import "base";

.about-us {
  
  .page-title {
    text-align: center;
    background-image: -o-linear-gradient(-90deg, #30928C 0%, #30928C 42%, #2B817C 100%);
    background-image: -moz-linear-gradient(-90deg, #30928C 0%, #30928C 42%, #2B817C 100%);
    background-image: -webkit-linear-gradient(-90deg, #30928C 0%, #30928C 42%, #2B817C 100%);
    background-image: -ms-linear-gradient(-90deg, #30928C 0%, #30928C 42%, #2B817C 100%);
    background-image: linear-gradient(-180deg, #30928C 0%, #30928C 42%, #2B817C 100%);
    padding-bottom: 4em;
    border-bottom: 12px solid #30928C;
  }

  section {padding: 3em 0 4em;}

  .team-photos {
  	li img {
  		border-radius: 100px;
  	}

  	margin-top: -4em;
  	padding: 2em 0 0;
  }

  .body-text .download img {display: block; margin: 0 auto 1em;}

  .body-text aside h4 {color: $primary-color;}

  .press {
  	background: $bright-green;
  	border-top: 12px solid darken($bright-green, 2%);

  	h2, p, cite {color: #fff;}
  }
  
}