@import "base";

.cities-page {
  
  .page-title {
    text-align: center;
    /* bg hue: */

/* bg hue: */
/* bg hue: */
background-image: -o-linear-gradient(-90deg, #11A453 0%, #11A453 62%, #108B47 100%);
background-image: -moz-linear-gradient(-90deg, #11A453 0%, #11A453 62%, #108B47 100%);
background-image: -webkit-linear-gradient(-90deg, #11A453 0%, #11A453 62%, #108B47 100%);
background-image: -ms-linear-gradient(-90deg, #11A453 0%, #11A453 62%, #108B47 100%);
background-image: linear-gradient(-180deg, #11A453 0%, #11A453 62%, #108B47 100%);
    
    img#ico-city-hall {width: 48px; height: 48;}
    p {margin-bottom: 2em;}

  }
  section.intro {
    border-top: 12px solid $bright-green;
  }
  section {padding: 3em 0 4em;}

  #ticket-msg {
    margin: emCalc(-71px) auto 1.5em 3em;
  }
  .ticket-caption {
    color: #727272; 
    font-weight: bold;
    font-family: $body-font-family;
    font-size: 14px;
    width: 70%;
    padding-left: 3em;
    margin-bottom: 4em;
  }

  section.faq {
  
    h2 {text-align: center; color: #fff;}

    dd a {color: $dark-green; font-size: emCalc(20px);}
    dd .content {color: #fff;}
    
    background: $bright-green;
    padding: 2em 0 3em;
    border-top: 12px solid darken($bright-green, 2%);
  } 

  section.press {

    background: $dark-green;

    h2, p, blockquote, cite {color: #fff;}
  }

}
