@import "base";

.contact {
  
  .page-title {
    text-align: center;
    background: image-url("bg-hero.jpg") no-repeat 50% 40%;
    background-size: 100% auto;
    padding-bottom: 4em;

  }

  section {padding: 3em 0 4em;}
  
}