// This could really benefit from variables, but it's not being compiled with _base, 
// where the variables are stored.

$dark-blue2: #04283B;

.indent{
    list-style-position: outside;
    margin-left: 0;
    padding-left: 25px;
}

nav.top-bar {
  background: $dark-blue2;
  border-bottom: 1px solid darken($dark-blue2, 2%);

  .logo {height: 43px;}

  .top-bar-section ul,
  .top-bar-section li a:not(.button) {background: transparent;}
  .name h1 a {color: #fff;}
}

.title-area .name img {margin-right: 1em;}

.page-title {
	padding: 3em 0 0;
  h1 {margin-bottom: 0;}
  h1, h2, p {text-align:center; color: #fff;}
}

.link-panel {
	dl {overflow:hidden;}
  dt {
    width: 48px;
    clear: left;
    text-align: center;
  }
  dt, dd {
    float: left;
  }

  dd {width: 200px;}
}

footer {
  padding: 1em 0;
  background: $dark-blue2;
  p {color: #fff;}
  nav a {display: inline-block; padding-right: 2em;}
}

.press
  {
    h2 {text-align:center;}
    .logo {display: block; margin: 0 auto 1em;}
    blockquote {border-left: 0;}
  }

