body, p, td, th, li, div {
  font-family: proxima-nova, sans-serif !important;
}

h1, h2, h3, h4, h5 {
  font-family: cronos-pro, sans-serif !important;
}

.page-title {
	padding: 3em 0 0;
  h1, h2, p
	{text-align:center;}
}

.link-panel {

	dl {
	 overflow:hidden;
	}
  dt {
    width: 48px;
    clear: left;
    text-align: center;
  }
  dt, dd {
    float: left;
  }

  dd {width: 200px;}
}

footer {
  padding: 1em 0;
  background: #333;
  p {color: #fff;}
  nav a {display: inline-block; padding-right: 2em;}
}