@import "base";

.help {
  
  .page-title {
    text-align: center;
    background: image-url("bg-help.jpg") no-repeat 50% 50%;
    background-size: 100% auto;
    padding-bottom: 4em;

  }

  section {padding: 3em 0 4em;}
  
}