@import "base";


//These are global styles, but they reference foundation variables

input[type="button"],
a.button {
  @include radius;
  border-bottom: 2px solid darken($primary-color, 6%);
}

//Page styles here:

.page-title.hero {

  // background: image-url("bg-hero.jpg") no-repeat center center;
  // background-size: cover;
  background: #077689;
  background-image: -o-linear-gradient(-90deg, #077689 0%, #077689 62%, #055866 100%);
  background-image: -moz-linear-gradient(-90deg, #077689 0%, #077689 62%, #055866 100%);
  background-image: -webkit-linear-gradient(-90deg, #077689 0%, #077689 62%, #055866 100%);
  background-image: -ms-linear-gradient(-90deg, #077689 0%, #077689 62%, #055866 100%);
  background-image: linear-gradient(-180deg, #077689 0%, #077689 62%, #055866 100%);

  h1, h2 {font-weight: 300;}
  h1 {color: #fff;}
  h2 {color: $light-blue; margin-bottom: 1.5em;}

}

.try-it {
	.step {

    text-align: center;

		h3 {
      border: 1px solid #fff;
      width: 36px; height: 36px;
      line-height: 36px;
      margin: 0 auto .5em;
      text-align: center;
      border-radius: 30px;
      font-family: $body-font-family;
      font-size: emCalc(20px);
      color: #fff;
    }

    p {color: #fff; font-size: emCalc(20px); margin-bottom: 2em;}

	}

  #step1 {
    
    p em {
      font-style: normal;
      color: $light-blue;
    }

    img {margin-bottom:1em; width: 237px;}
  }
}

.available-cities,
.testimonials {
  padding: 3em 0;
  h2 {
    text-align: center;
    margin-bottom: 1em;
    color: $dark-blue;
  }
}



.available-cities {
  // background: $tealish;
  border-top: 12px solid darken($tealish, 1%);

  table {
    width: 100%;
    border: 0;
    border-collapse: collapse;
    tr {background: transparent; border: 0;}
    th, td {
      vertical-align: top; 
      background: transparent;

      }
    th {
      color: lighten($tealish, 10%); 
      padding-top: 10px;
      width: 3em;
      border-right: 3px solid lighten($tealish, 10%);
    }
    td {
      font-size: emCalc(24px); 
      padding-top: 0; 
      line-height: 1.5em;
      color: $dark-blue;
    }
  }
}

.testimonials {
  background: $light-grey;

  h2 {color: dark-blue;}
  blockquote {
    font-size: emCalc(20px); 
    color: $dark-blue;
    text-align: center;
    background: #fff image-url("heart.svg") no-repeat 50% 1em;
    border-radius: 5px;
    border: 0;
    padding: 2.5em 1em 1em;
    line-height: 1.5em;
  }
  cite {
    border-top: 4px solid #f1f1f1;
    font-style: normal;
    margin-top: 1em;
    padding-top: 1em;
    font-size: 14px;
    line-height: 14px;
  }

  cite:before {content: "";}

  cite, cite a {color: $light-blue;}
}

.for-cities {
  padding: 0 0 4em;
  h3, p {color: $dark-green;}
  h2 {text-align: center; margin-bottom: 1em; color: $dark-blue;}
  p {line-height: 1.5em; text-align: center;}
  background: #fff;
  border-top: 12px solid $bright-green;
  .intro {
    background: #EDF5F1;
    text-align: center;
    padding: 1.5em 0;
    margin-bottom: 3em;
      h2 {
        font-size: 1em; 
        line-height: 2em;
        font-family: $body-font-family;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 0;
        color: $bright-green;
      }    
  }

  .button.secondary,
  .button.secondary:hover {color: $bright-green;}

  h4 {
    color: #fff; 
    color: $dark-green;
    font-size: 24px;
    font-family: $body-font-family;
    text-align: center;
    margin-top: 1em;
    margin-bottom: .5em;
    padding-bottom: .25em;
    border-bottom: 1px solid $light-grey;
  }

  form {
    textarea {
      background: #f1f1f1;
      border:0;
      color: $dark-green;
      height: 120px;
      font-size: 1em;
      @include radius;
    }
  }

}