@import "base";


//These are global styles, but they reference foundation variables

input[type="button"],
a.button {
  @include radius;
  border-bottom: 2px solid darken($primary-color, 6%);
}

//Page styles here:

.page-title.hero {

  background: image-url("bg-hero.jpg") no-repeat center center;
  background-size: cover;
  h1, h2 {font-weight: 300;}
  h1 {color: #fff;}
  h2 {color: $light-blue; margin-bottom: 1.5em;}

}

.try-it {
	.step {

    text-align: center;

		h3 {
      border: 1px solid #fff;
      width: 36px; height: 36px;
      line-height: 36px;
      margin: 0 auto .5em;
      text-align: center;
      border-radius: 30px;
      font-family: $body-font-family;
      font-size: emCalc(20px);
      color: #fff;
    }

    p {color: #fff; font-size: 18px; margin-bottom: 2em;}

	}

  #step1 {
    
    p em {
      font-style: normal;
      color: $light-blue;
    }

    img {margin-bottom:1em;}
  }
}

.available-cities h2, 
.testimonials h2 {
  font-size: emCalc(20px);
  font-family: $body-font-family;
  font-weight: bold;
}

.available-cities {
  background: $tealish;
  border-top: 12px solid darken($tealish, 1%);
  padding: 3em 0;

  h2, p a {color: darken($tealish, 15%);}
  // p a {color: lighten($tealish, 30%);}
  table {
    width: 100%;
    border: 0;
    border-collapse: collapse;
    tr {background: transparent; border: 0;}
    th, td {
      vertical-align: top; 
      background: transparent;

      }
    th {
      color: lighten($tealish, 10%); 
      padding-top: 10px;
      width: 3em;
      border-right: 3px solid lighten($tealish, 10%);
    }
    td {
      font-size: emCalc(30px); 
      padding-top: 0; 
      line-height: 1.5em;
      color: #fff;
    }
  }
}

.testimonials {
  padding: 4em 0;
  background: $bright-green;
  border-top: 12px solid darken($bright-green, 1%);

  h2 {color: darken($bright-green, 15%);}
  blockquote {
    font-size: emCalc(20px); 
    color: #fff;
    text-align: center;
    background: lighten($bright-green, 1%) url(heart.svg) no-repeat 50% 8%;
    border-radius: 5px;
    border: 0;
    padding: 2em 1em 1em;
    line-height: 1.5em;
  }
  cite {
    border-top: 1px solid darken($bright-green, 2%);
    font-style: normal;
    margin-top: 1em;
    padding-top: 1em;
    font-size: 14px;
    line-height: 14px;
  }

  cite:before {content: "";}

  cite, cite a {color: darken($bright-green, 10%);}
}

.for-cities {
  padding: 0 0 3em;
  background: $dark-green;
  h3, p {color: #fff;}
  h2 {text-align: center; margin-bottom: 1em; color: #fff;}
  p {line-height: 1.5em;}
  .intro {
    background: darken($dark-green, 1%);
    text-align: center;
    padding: 1.5em 0;
    margin-bottom: 2em;
      h2 {
        font-size: 1em; 
        line-height: 2em;
        font-family: $body-font-family;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 0;
        color: $bright-green;
      }    
  }

  .send-note {border-left:4px solid darken($dark-green, 1%)}

  h4 {color: #fff; color: $bright-green;}

  form {
    textarea {
      background: darken($dark-green, 10%); 
      border: 0; 
      color: #fff;
      @include radius;}
  }

}